@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    background: black;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

 h1 {
    font-family: Nunito, san-serif;
    max-width: 100%;
    margin: auto 0;
    position: absolute;
    right: 40%;
    top: 15px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.container {
    text-align: center;
    font-size: large;
    background-color: #005B3B;
    padding: 10px;
    height: 80%;
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid;
    border-color: greenyellow;
    position: relative;
}

.scoreboard {
    position: absolute;
    top: 25%;
    left: 25%;
}

form h2 {
    line-height: 10px;
    margin-bottom: 10px;
}

form .options {
    padding: 5px;
    margin: 5px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diff-level {
    text-align: center;
    font-family: Roboto, sans-serif;
    color: white;
    text-transform: ;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

/* media queries */

/* For medium screen sizes 800px wide and down */

@media screen and (max-width: 800px) {
    .container {
        font-size: 20px;
    }
}

/* For smaller screen sizes 550px wide and down */
@media screen and (max-width: 550px) {

    .container {
        font-size: medium;
    }
}