@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    background: black;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Nunito, san-serif;
    font-size: 40px;
    max-width: 100%;
    margin: auto 0;
    position: absolute;
    left: 35%;
    right: 35%;
    top: 10%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

#start-btn {
    font-size: xx-large;
    padding: 15px;
    background-color: greenyellow;
    font-weight: bold;
}

.container {
    text-align: center;
    font-size: large;
    background-color: #005B3B;
    padding: 10px;
    height: 80%;
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 2px solid;
    border-color: greenyellow;
    position: relative;
}

#correctAnswers {
    font-size: xx-large;
    color: greenyellow;
}

#

form .answers {
    padding: 5px;
    margin: 5px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
}

.answers label {
    margin-left: 5px;
    flex-flow: column wrap;
    align-items: baseline;
    justify-content: center;
}

.answers input {
    flex-flow: column wrap;
    align-items: baseline;
    justify-content: center;
}

.hide {
    display: none;
}

/* media queries */

/* For medium screen sizes 800px wide and down */

@media screen and (max-width: 800px) {
    .container {
        font-size: 20px;
    }
}

/* For smaller screen sizes 550px wide and down */
@media screen and (max-width: 550px) {

    .container {
        font-size: medium;
    }
}